.PdpElement{
    position: relative;
    margin-top: 3em;
}
.slider-decorator-0 {
    visibility: hidden;
}
.slider-decorator-1 {
    visibility: hidden;
}
.productMainInfo{
    background-color: #FFFFFF;
    position: relative;
    margin: -3% auto 0 auto;       
    width: 90%;       
}
.productMainInfoText {
    width: 37%;
    padding-top: 5%;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}
.productMainInfoText, .productExtraInfo, .pdpVariants, .productSize{
    justify-content: center;
    padding-left: 5%;
    font-size: 15px;
    font-family: "futura-pt";
}
.bagButtonContainer{
    width: 250px;
    margin: auto;    
    top: 20px;
    position: inherit;      
}
.bagButton {
    width: 250px;
    height: 40px;
    background-color: #00aa5b;
    border: none;
    font-family: "futura-pt"; 
    font-weight: 600;
    font-size: 94%;
    color: #ffffff;
    letter-spacing: 0.5px;
 }
 .productExtraInfo{
    background-color: #FFFFFF;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-right: 5%; 
    padding-bottom: 15%;  
    font-weight: 400;
}  
.prodDescHeader, .prodBrandHeader, .brandDescHeader, .materialsHeader{
    padding-bottom: 2%;
    letter-spacing: 0.5PX;
}
@media screen and (min-width: 1122px) {

    }
@media screen and (min-width: 1635px) {

    }
@media screen and (min-width: 1123px) and (max-width: 1634px){
    .productExtraInfo{  
        padding-right: 3%; 
        padding-bottom: 5%;               
    }  
    .prodDescHeader, .prodBrandHeader, .brandDescHeader, .materialsHeader{
        padding-top: 2%;
    } 
}
@media screen and (min-width: 521px) and (max-width: 1121px){
    .productExtraInfo{  
        padding-right: 3%; 
        padding-bottom: 8%;               
    }  
    .prodDescHeader, .prodBrandHeader, .brandDescHeader, .materialsHeader{
        padding-top: 3%;
    }   
}
@media screen and (max-width: 520px){
    .slider-list {
        min-height: calc(70vw + 10rem); 
    }
    
    .slider-decorator-2 {
        top: 88% !important;
    }
    .pdpProductName{
        position: relative;
        margin-bottom: 0px;
     }
    .pdpProductPrice, .pdpProductDiscount{
        position: relative;
        width: 25%;   
        font-weight: 700;  
    }
    .pdpProductDiscount{
        display: inline-block;
        padding-left: 5%;
    }
    .pdpProductPriceSlashed {
        display: inline-block;
        color: #d0021b;
        text-decoration: line-through;
        font-weight: 700;      
    }
    .pdpVariants {
        display: inline-flex;
        flex-direction: column;
        vertical-align: top;
        width: 36%;
        padding-right: 5%;
        padding-top: 5%;      
    }
    .sizeHeader{
         padding-top: 15%;
    }    

     .productExtraInfo{  
        padding-right: 5%; 
        padding-bottom: 15%;       
    }  
    .prodDescHeader, .prodBrandHeader, .brandDescHeader, .materialsHeader{
        padding-top: 10%;
    } 
   
  
}