@media screen and (max-width: 520px) {
    body {
        margin:0px auto;
        width: 100%;
        background-color: #eeeeee;
    }
    h4{
        margin: 0
    }
    .PdpElement{
        margin-top: 35px;
    }
    .slider-list {
        min-height: calc(70vw + 10rem); 
    }
    .slider-decorator-0{
        visibility: hidden;
    }
    .slider-decorator-1{
        visibility: hidden;
    }
    .slider-decorator-2{
        bottom:10px !important;
    }

    .productMainInfo{
        background-color: #FFFFFF;
        position: relative;
        margin-left: 17px;
        margin-top: -25px;
        width: 90%;
       
    }

    .bagButtonContainer{
        width: 250px;
        margin: auto;    
        top: 20px;
        position: inherit; 
      
    }
    .bagButton {
        width: 250px;
        height: 40px;
        background-color: #00aa5b;
        border: none;
        font-family: "futura-pt"; 
        font-weight: 600;
        font-size: 94%;
        color: #ffffff;
        letter-spacing: 0.5px;

     }
    .productMainInfoText{
        width: 37%;
        padding-top: 5%;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
    }

    .pdpProductName{
        position: relative;
        margin-bottom: 0px;
     }
     .productMainInfoText p{
         width: 100px;
     }
    .pdpProductPrice{
        position: relative;
        width: 25%;     
    }
    .pdpProductDiscount{
        position: relative;
        width: 25%;
        display: inline-block;
        padding-left: 5%;
    }

    .pdpProductPriceSlashed {
        color: #d0021b;
        text-decoration: line-through;
        font-weight: 700;
        display: inline-block;
      }

    .productColour {
        display: inline-block;
        vertical-align: top;
        width: 36%;
        padding-right: 5%;
        padding-top: 5%;
    }

    .productMainInfoText, .productExtraInfo, .productColour{
        justify-content: center;
        padding-left: 5%;
        font-size: 15px;
        font-family: "futura-pt";
    }

    .productExtraInfo{
        background-color: #FFFFFF;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        padding-right: 5%; 
        padding-bottom: 10%;  
        font-weight: 400;
    }   
    .prodDescHeader{
        padding-top: 1%;
    }
    .productDescriptionValue, .productBrandValue, .brandDescriptionValue, .materialsValue{
        padding-bottom: 3%;
    }
    .pdpProductPrice, .pdpProductDiscount{
        font-weight: 700;
    }
    .prodDescHeader, .prodBrandHeader, .brandDescHeader, .materialsHeader{
        padding-bottom: 2%;
        letter-spacing: 0.5PX;
    }
    header h2 {
        text-align: center;
        margin: 30px auto;
    }  
    pre {
        background: #f7f7f7;
        padding: 10px 20px;
        border-radius: 2px;
        border: 1px solid #ccc;
    } 
    
    pre code {
        line-height: 20px;
    }
    
    .result {
        padding: 8px 0;
    }
    
    .Dropdown-root {
        position: relative;
        width: 130px;
        border: solid 0.5px #000000;    
    }
    
    .Dropdown-control {
        position: relative;
        overflow: hidden;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
        color: #333;
        cursor: default;
        outline: none;
        padding: 8px 52px 8px 10px;
        transition: all 200ms ease;
    }
    
    .Dropdown-control:hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    }
    
    .Dropdown-arrow {
        border-color: #999 transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: ' ';
        display: block;
        height: 0;
        margin-top: -ceil(2.5);
        position: absolute;
        right: 10px;
        top: 14px;
        width: 0
    }
    
    .is-open .Dropdown-arrow {
        border-color: transparent transparent #999;
        border-width: 0 5px 5px;
    }
    
    .Dropdown-menu {
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        margin-top: -1px;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1000;
        -webkit-overflow-scrolling: touch;
    }
    
    .Dropdown-menu .Dropdown-group > .Dropdown-title {
        padding: 8px 10px;
        color: rgba(51, 51, 51, 1.2);
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .Dropdown-option {
        box-sizing: border-box;
        color: rgba(51, 51, 51, 0.8);
        cursor: pointer;
        display: block;
        padding: 8px 10px;
    }
    
    .Dropdown-option:last-child {
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    
    .Dropdown-option:hover {
        background-color: #f2f9fc;
        color: #333;
    }
    
    .Dropdown-option.is-selected {
        background-color: #f2f9fc;
        color: #333;
    }
    
    .Dropdown-noresults {
        box-sizing: border-box;
        color: #ccc;
        cursor: default;
        display: block;
        padding: 8px 10px;
    }
}