.productContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
}

.ProductElement {
  position: relative;
  margin: 1.5em;
  width: auto;
}

.imageCard {
  width: 53%;
}

.imageCard img {
  width: 100%;
}

.productLabelContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 10%;
  background: rgba(255, 255, 255, 0.5);
  align-content: center;
  right: 0px;
  width: 50%;
  height: 80%;
}

.divLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  font-size: 15px;
  font-family: "futura-pt";
  text-decoration: none;
  font-weight: 500;
  color: black;
  width: 75%;
}

.productDiscount,
.productPrice,
.productPriceSlashed {
  font-weight: 700;
}

.productPriceSlashed {
  color: #d0021b;
  text-decoration: line-through;
}

@media screen and (min-width: 1635px) {
  .ProductElement:nth-child(6n + 4),
  .ProductElement:nth-child(6n + 5),
  .ProductElement:nth-child(6n + 6) {
    display: flex;
    flex-direction: row-reverse;
  }

  .ProductElement:nth-child(6n + 4) > .productLabelContainer,
  .ProductElement:nth-child(6n + 5) > .productLabelContainer,
  .ProductElement:nth-child(6n + 6) > .productLabelContainer {
    left: 0%;
  }
}

@media screen and (min-width: 1122px) and (max-width: 1635px) {
  .ProductElement:nth-child(4n + 3),
  .ProductElement:nth-child(4n + 4) {
    display: flex;
    flex-direction: row-reverse;
  }

  .ProductElement:nth-child(4n + 3) > .productLabelContainer,
  .ProductElement:nth-child(4n + 4) > .productLabelContainer {
    left: 0%;
  }
}

@media screen and (max-width: 1121px) {
  .ProductElement:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }

  .ProductElement:nth-child(even) > .productLabelContainer {
    left: 0%;
    right: 45%;
  }
}
