img {
  width: 150px;
}

@media screen and (max-width: 520px) {
  .ProductElement {
    display: flex;
    position: relative;
  }

  img {
    width: 100%;
  }

  .imageCard {
    position: relative;
    display: flex;    
    width: 53%; 
  }

  .productLabelContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    left: 50%;
    top: 10%;
    height: 80%;
    background: #ffffff;
  }

  .ProductElement:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    }

  .ProductElement:nth-child(even) > .productLabelContainer {
      left: 0%;
      right: 50%;
  } 

  .ProductElement:nth-child(even) > .imageCard {
  }

  .divLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    padding-right: 5%;
    font-size: 15px;
    font-family: "futura-pt";
    text-decoration: none;
    font-weight: 500;
    color: black;
  }

  .productLink {
    font-weight: 500;
    text-decoration: none;
  }

  .productLabel > a {
    color: black;
  }

  .productDiscount,
  .productPrice,
  .productPriceSlashed {
    font-weight: 700;
  }

  .productPriceSlashed {
    color: #d0021b;
    text-decoration: line-through;
  }

  .productContainer{
    margin-bottom: 35px;
  }

}
