
/*below here goes default css for main webpage*/
header {
  width:100%;
  min-height: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: rgb(45, 45, 45);
  margin: 0px auto;
  z-index: 1;
  display: flex;
}

.headerHolder{
  height: 50px;
}

.closedMenu{
  display: none;
}

.headerHolder > .logo > .logoLink > img {
  height: 35px;
  width: 35px;
  margin: 22% 0% 0% 25%;
  display: inline-block;
}

.headerHolder > .headerTeamName > a{
  display: inline-block;
  font-family: "futura-pt";
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 0.9px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 20%;
  left: 60px;

}

  .menuLinks{
    display: inline-block;
    position: absolute;
    top: 25%;
    right: 0;
    font-family: "futura-pt";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
  }

  .menuLinks > .webHome > a{
    display: inline-block;
    position: absolute;
    right: 90px;
    font-family: "futura-pt";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;

  }

  .menuLinks > .webBag{
    display: inline-block;
    position: absolute;
    right: 30px;
  }

/*below is the mobile css*/
@media screen and (max-width: 520px) {
  header .burgerMenu {
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 1em;
  }

  .headerHolder > .logo > .logoLink > img  {
  height: 30px;
  width: 30px;
  margin: 9px;
}


  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 21% 15% 2% 0%;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 4px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -4px);
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .openMenu {
    position: relative;
    height: 35px;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 46px;
    left: 0;
    background-color: #2d2d2d;
    overflow: hidden;
    transition: 0;
  }

  .closedMenu {
    width: 0;
  }

  .closedMenu a {
    display: none;
  }

  .openMenu a {
    padding-top: 0;
    text-decoration: none;
    font-family: "futura-pt";
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    transition: 0.3s;

  }

  .homeLink {
    width:49%;
    text-align: center;
    border-right-style: solid;
    border-color: #ffffff;
    border-width: thin;
  }

  .bagLink {
    width:49%;
    text-align: center;
  }

  .logo{
    margin: 2% 0% 0% 2%;
  }

  .headerHolder > .headerTeamName{
    display: none;
  }
  
  .headerHolder > .menuLinks{
    display: none;
  }

}