.ErrorPage {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.EP-header {
  background-color: #33cc33;
  height: 150px;
  padding: 20px;
  color: black;
  font-size: 70pt;
}

/* .EP-title {
  font-size: 1.5em;
  
} */

/* .EP-intro {
  font-size: large;
} */

/* @keyframes EP-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
